<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d68a2d689.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="mainMenu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>CoSkill</title>
</head>
<body>

    <header>
        <h2 class="header-logo">
            Co-Skill
        </h2>
        <section id="search">
            <div class="in-development">
                IN DEVELOPMENT
             </div>
            <input type="text" placeholder="Type to search">
            <button class="btn btn-success">
                <i class="fas fa-search"></i>
            </button>
        </section>

        <section id="user-cabinet">
            <i class="fas fa-sort-down"></i>
            <div class="user-cabinet-text">
                <p class="user-cabinet-name">
                    Mikhail Astashonak
                </p>
                <p>Tap to view profile <i class="fas fa-arrow-right"></i></p>
            </div>
            <div class="user-cabinet-photo">
                <img src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
            </div>
        </section>

        <section id="header-buttons-container">
            <div class="in-development">
                IN DEVELOPMENT
             </div>
            <button>
                <i class="far fa-bell"></i>
            </button>
            <button>
                <i class="far fa-envelope"></i>
            </button>
        </section>
    </header>       

    <main id="main-menu-main">
        <section id="release-notes">
            <div id="release-notes-darken">
                <h2>
                    Hello World!
                </h2>
                <p>
                    <b>Co-Skill Alpha 0.0.1</b>  is here!
                </p>
            </div>
        </section>

        <section id="recent-posts">
            <h2>
                Recent-posts:
            </h2>
            <section id="recent-posts-container">
                <div class="post">
                    <i class="delete-post fas fa-minus-circle"></i>
                    <div class="post-user">
                        <img class="post-user-avatar" src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
                        <div class="post-user-preview">
                            <p>Mikhail Astashonak</p>
                            <div class="post-user-skills">
                                <div class="skill-element">Hand-working</div>
                                <div class="skill-element">Programming</div>
                                <div class="skill-element">Baker</div>
                            </div>
                        </div>
                    </div>

                    <div class="post-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptates sapiente unde molestiae odit ex officiis, dolor doloremque accusantium laudantium ducimus voluptas temporibus? Possimus alias facilis itaque vel ad eius.
                        Beatae commodi cupiditate eveniet ea est, tempore distinctio animi incidunt, dolorum facere numquam ipsum laboriosam exercitationem atque odit. Nulla iure illum aperiam enim consequatur repudiandae iste cum sit nemo impedit?
                        Pariatur illo labore iure recusandae obcaecati qui repellat ipsam dolor. Explicabo eaque minus provident sed fugit ipsum incidunt temporibus consequuntur ratione adipisci? Magni culpa nostrum ab ratione labore quasi odit.
                    </div>

                    <div class="post-community">
                        <div id="post-view-comments">View comments</div>
                        <button class="post-likes btn btn-success">
                            <i class="far fa-thumbs-up"></i> 46
                        </button>
                    </div>
                    
                    <div class="post-comments">
                        <h4>
                            Comments: 
                        </h4>
                        <div class="comment">
                            <i class="delete-comment fas fa-minus-circle"></i>
                            <div class="comment-user">
                                <img class="comment-avatar" src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
                                <div class="comment-user-preview">
                                    <p>Mikhail Astashonak</p>
                                    <div class="post-user-skills">
                                        <div class="skill-element">Hand-working</div>
                                        <div class="skill-element">Programming</div>
                                        <div class="skill-element">Baker</div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minus illum asperiores, amet reiciendis sed error voluptatum deserunt nulla, provident eos perferendis cumque? At eaque temporibus dicta. Molestias, vel libero!
                            </div>
                            
                            <button class="comment-likes btn btn-success">
                                    <i class="far fa-thumbs-up"></i> 46
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    
</body>
</html>