* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    border: 1px solid #000;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34495e;
    color: #ecf0f1;
}

#user-cabinet{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-cabinet i {
    margin: 0 10px;
}

.user-cabinet-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.user-cabinet-text p {
    display: flex;
    align-items: center;
    margin: 0;
}

.user-cabinet-text p:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
}
.user-cabinet-text p:nth-child(2) {
    color:#d8d9da;
    font-weight: 500;
}

#user-cabinet:hover,
.header-logo:hover,
#search:hover {
    background-color: #2c3e50;
}

.header-logo,
#search {
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}

#search input {
    margin-right: 10px;
    border: none;
    background: none;
    outline: none;
    background-color: #ecf0f1;
    padding: 6px 10px;
    width: 300px;
    border-radius: 3px;
}

.user-cabinet-photo img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 0 10px;
}

#header-buttons-container {
    height: 10vh;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    position: relative;
}

#header-buttons-container .in-development,
#search .in-development {
    width: 200px;
    font-size: 16px;
}

#header-buttons-container button:hover {
    background-color: #2c3e50;
}

#header-buttons-container button {
    border: none;
    background: none;
    outline: none;
    color: #ecf0f1;
    height: 10vh;
    padding: 0 20px;
}

.in-development {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    color: #2c3e50;
    background-color: red;
    font-size: 50px;
    font-weight: 700;
    border: 3px solid red;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 150px rgb(255, 0, 0);
}

#main-menu-main {
    width: 65%;
    padding: 5% 0;
}

#release-notes {
    width: 100%;
    height: 30vh;
    background: url(https://static.vecteezy.com/system/resources/previews/000/517/855/original/vector-landscape-illustration.png);
    background-size: 100%;
    background-position-y: -30vh;
    border-radius: 5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);

    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: "box-shadow";
    transition-duration: .3s;
}

#release-notes:hover {
    box-shadow: 0 0 30px rgba(0, 255, 51, 0.767);
    transition: .3s;
    cursor: pointer;
}

#release-notes-darken {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 182, 38, 0.541);
    border-radius: 5vh;
    color: #ecf0f1;
}

#release-notes-darken h2{
    font-size: 400%;
    font-weight: 700;
}

#release-notes-darken p {
    font-size: 180%;
}

#recent-posts {
    display: flex;
    flex-flow: column;
    margin-top: 100px;
}

#recent-posts h2 {
    color: #2c3e50;
    font-weight: 600;
}

#recent-posts-container {
    border-top: 3px solid #2c3e50;
    margin-top: 20px;
    padding-top: 30px;
}

.post {
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    margin-top: 50px;
}

.post:nth-child(1) {
    margin-top: 10px;
}

.post-user {
    display: flex;
}

.post-user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.post-user-preview {
    margin-left: 30px;
}


.post-user-preview p {
    font-size: 25px;
    font-weight: 500;
}

.post-user-skills {
    display: flex;
}

.post-user-skills .skill-element {
    margin-top: 0;
}

.post-text {
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    padding: 20px 0;
    margin: 20px 0;
    font-size: 25px;
}

.post-community {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

#post-view-comments:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-comments {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.comment {
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
    padding: 10px;
    margin-top: 20px;
}

.comment-user {
    display: flex;
    font-size: 22px
}

.comment-user .skill-element {
    font-size: 14px;
}

.comment-user-preview *{
    margin-top: 0;
    margin-bottom: 0;
}

.comment-user-preview  {

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.comment-avatar {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 20px;
}

.comment-text {
    font-size: 18px;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    margin: 15px 0;
    padding: 15px 0;
}

.comment-likes {
    align-self: flex-end;
}

.delete-post {
    position: absolute;
    z-index:2;
    right: 1%;
    font-size: 30px;
}

.delete-post:hover,
.delete-comment:hover {
    color: #e74c3c;
    cursor: pointer;
}

.delete-comment {
    position: absolute;
    z-index:2;
    right: 1%;
    font-size: 24px;
}

.skill-element {
    padding: 5px 20px;
    background-color: #34495e;
    color: #fff;
    margin: 10px 30px 0 0;
    border-radius: 15px;
}

.skill-element i {
    margin: 0 0 0 10px;
}
