<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d68a2d689.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>CoSkill</title>
</head>
<body>
    <header>
        <h2 class="header-logo">
            Co-Skill
        </h2>
        <section id="search">
            <input type="text" placeholder="Type to search">
            <button class="btn btn-success">
                <i class="fas fa-search"></i>
            </button>
        </section>

        <section id="user-cabinet">
            <i class="fas fa-sort-down"></i>
            <div class="user-cabinet-text">
                <p class="user-cabinet-name">
                    Mikhail Astashonak
                </p>
                <p>Tap to view profile <i class="fas fa-arrow-right"></i></p>
            </div>
            <div class="user-cabinet-photo">
                <img src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
            </div>
        </section>
    </header>

    <main>
        <section class="profile-section">
            <div class="common-profile-info">
                <div class="profile-img-section">
                    <img src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
                    <button class="btn btn-success">Upload new</button>
                </div>

                <div id="profile-text-section">
                    <div class="profile-user-data">
                        <div class="profile-name-and-email">
                            <h2 id="profile-name">
                                Mikhail Astashonak
                            </h2>
                            <span>
                                thenaitrise@gmail.com
                            </span>
                        </div>

                        <p id="profile-date">
                            Co-Skill user since 19 Feb. 2021
                        </p>
                    </div>

                    <div class="skills">
                        <h2>
                            Skills:
                        </h2>
                        <div class="skills-container">
                            <div class="skill-element st-hand-working">
                                Hand-working <i class="fas fa-minus-circle"></i>
                            </div>
                            <div class="skill-element st-it">
                                Programming <i class="fas fa-minus-circle"></i>
                            </div>
                            <div class="skill-element st-cooking">
                                Baker <i class="fas fa-minus-circle"></i>
                            </div>
                            
                        </div>
                        <section class="skill-creator">
                            <h3>
                                Add new skill: 
                            </h3>
                            <div class="skill-form">
                                <input type="text" placeholder="skill label">
                                <select name="skill-type" id="skill-type-select">
                                    <option selected> Select skill type</option>
                                    <option value="it"> IT </option>
                                    <option value="cooking"> Cooking </option>
                                    <option value="musec"> Music </option>
                                </select>
                                <button class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </section>
                    </div>

                    <section id="profile-hidden">

                        <div class="bio">
                            <textarea name="Bio" id="" cols="60" rows="3" placeholder="Bio"></textarea>
                        </div>
    
                        <section class="profile-inputs">
                            <input type="text" placeholder="Company" id="profile-company">
                            <input type="text" placeholder="Web-site" id="profile-web-site">
                            <input type="text" placeholder="Location" id="profile-location">    
                        </section>
    
                        <section class="socials">
                            <h3>Socials:</h3>
                            <div class="socials-container">
                                <input type="text" placeholder="YouTube"    id="social-youtube">   
                                <input type="text" placeholder="Instagram"  id="social-nstagram">
                                <input type="text" placeholder="Twitter"    id="social-twitter">   
                                <input type="text" placeholder="VK"         id="social-vk">
                                <input type="text" placeholder="Facebook"   id="social-facebook">  
                                <input type="text" placeholder="Tik Tok"    id="social-tiktok">
                                <input type="text" placeholder="LinkedIn"   id="social-linkedin">  
                                <input type="text" placeholder="Telegram"   id="social-telegram">
                            </div>
                        </section>
    
                        <section class="contacts">
                            <h3>Contacts:</h3>
                            <div class="contacts-container">
                                <input type="text" placeholder="Mobile phone" id="contact-mobile-phone">
                                <input type="text" placeholder="Phone" id="contact-phone">
                                <input type="text" placeholder="Fax" id="contact-fax">
                                <input type="text" placeholder="Contact e-mail" id="contact-email">
                                <input type="text" placeholder="Viber" id="contact-viber">
                                <input type="text" placeholder="Hangouts" id="contact-hangouts">
    
                            </div>
                        </section>
                        <button class="btn btn-success"> Save </button>
                    </section>

                    <section class="more" id="more" >
                        <p id="more-p">More <i class="fas fa-sort-down"></i></p>
                    </section>
                </div>
            </div>

            <section class="profile-photos">
                <h3>
                    Photos:
                </h3>
                <div class="profile-photos-container">
                    <img src="https://www.thesprucepets.com/thmb/6xUaoRttXiA5XVTrsjWIwLsbNo8=/2248x2248/smart/filters:no_upscale()/kitten-looking-at-camera-521981437-57d840213df78c583374be3b.jpg" alt="" class="profile-photos-element">
                    <img src="https://hi-bk.com/wp-content/uploads/2020/08/hibkdog.png" alt="" class="profile-photos-element">
                    <img src="https://pets2.me/media/res/1/9/6/3/1/19631.p8xeic.300.jpg" alt="" class="profile-photos-element">
                    <img src="https://b1.m24.ru/c/1363606.580xp.jpg" alt="" class="profile-photos-element">
                    <img src="http://planetadetstva.net/wp-content/uploads/2014/05/scenarij-aktiviziruyushhego-obshheniya-dlya-detej-s-ispolzovaniem-kukly-marionetki-vot-sobachka-pribezhala.jpg" alt="" class="profile-photos-element">
                    <img src="https://bipbap.ru/wp-content/uploads/2017/10/foto2-640x477.jpg" alt="" class="profile-photos-element">
                </div>

               
                <div class="in-development">
                   IN DEVELOPMENT
                </div>
            </section>

            <section id="create-post">
                <h3>
                    Create a new post: 
                </h3>
                <textarea placeholder="Your text"></textarea>
                <button class="btn btn-success">
                    Post
                </button>
            </section>

            <section class="profile-posts">
                <h3>
                    Posts: 
                </h3>
                <div class="profile-posts-container">
                
                    <div class="post">
                        <i class="delete-post fas fa-minus-circle"></i>
                        <div class="post-user">
                            <img class="post-user-avatar" src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
                            <div class="post-user-preview">
                                <p>Mikhail Astashonak</p>
                                <div class="post-user-skills">
                                    <div class="skill-element">Hand-working</div>
                                    <div class="skill-element">Programming</div>
                                    <div class="skill-element">Baker</div>
                                </div>
                            </div>
                        </div>

                        <div class="post-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptates sapiente unde molestiae odit ex officiis, dolor doloremque accusantium laudantium ducimus voluptas temporibus? Possimus alias facilis itaque vel ad eius.
                            Beatae commodi cupiditate eveniet ea est, tempore distinctio animi incidunt, dolorum facere numquam ipsum laboriosam exercitationem atque odit. Nulla iure illum aperiam enim consequatur repudiandae iste cum sit nemo impedit?
                            Pariatur illo labore iure recusandae obcaecati qui repellat ipsam dolor. Explicabo eaque minus provident sed fugit ipsum incidunt temporibus consequuntur ratione adipisci? Magni culpa nostrum ab ratione labore quasi odit.
                        </div>

                        <div class="post-community">
                            <div id="post-view-comments">View comments</div>
                            <button class="post-likes btn btn-success">
                                <i class="far fa-thumbs-up"></i> 46
                            </button>
                        </div>
                        
                        <div class="post-comments">
                            <h4>
                                Comments: 
                            </h4>
                            <div class="comment">
                                <i class="delete-comment fas fa-minus-circle"></i>
                                <div class="comment-user">
                                    <img class="comment-avatar" src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
                                    <div class="comment-user-preview">
                                        <p>Mikhail Astashonak</p>
                                        <div class="post-user-skills">
                                            <div class="skill-element">Hand-working</div>
                                            <div class="skill-element">Programming</div>
                                            <div class="skill-element">Baker</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minus illum asperiores, amet reiciendis sed error voluptatum deserunt nulla, provident eos perferendis cumque? At eaque temporibus dicta. Molestias, vel libero!
                                </div>
                                
                                <button class="comment-likes btn btn-success">
                                        <i class="far fa-thumbs-up"></i> 46
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
    </main>
    <footer></footer>
    <script>
        const more          = document.getElementById("more");
        const moreParagraph = document.getElementById("more-p");
        const profileHidden = document.getElementById("profile-hidden");
        let moreStatus      = false;

        more.addEventListener("click", () => {
            moreStatus = !moreStatus;

            profileHidden.style.display = moreStatus ? "block": "none";
            moreParagraph.innerHTML  = moreStatus ? 'Less <i class="fas fa-sort-up"></i>' : 'More <i class="fas fa-sort-down"></i>' ;
        });
    </script>
</body>
</html>