<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d68a2d689.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profile.css">
    <title>CoSkill</title>
</head>
<body>
    <header>
        <h2 class="header-logo">
            Co-Skill
        </h2>
        <section id="search">
            <input type="text" placeholder="Type to search">
            <button>
                <i class="fas fa-search"></i>
            </button>
        </section>

        <section id="user-cabinet">
            <i class="fas fa-sort-down"></i>
            <div class="user-cabinet-text">
                <p class="user-cabinet-name">
                    Mikhail Astashonak
                </p>
                <div class="user-cabinet-skill">
                    Full-Stack Dev.
                </div>
            </div>
            <div class="user-cabinet-photo">
                <img src="https://sun9-69.userapi.com/impg/yOyOCofk2QWpjiSLTs7D6ZtxEzxW7zLlbH1FBA/T4RDmYLU8Qo.jpg?size=541x551&quality=96&proxy=1&sign=77c757f173d271632d91b5818440674d&type=album" alt="">
            </div>
        </section>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>