* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    border: 1px solid #000;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34495e;
    color: #ecf0f1;
}

#user-cabinet{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-cabinet i {
    margin: 0 10px;
}

.user-cabinet-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.user-cabinet-text p {
    display: flex;
    align-items: center;
    margin: 0;
}

.user-cabinet-text p:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
}
.user-cabinet-text p:nth-child(2) {
    color:#d8d9da;
    font-weight: 500;
}

#user-cabinet:hover,
.header-logo:hover,
#search:hover {
    background-color: #2c3e50;
}

.header-logo,
#search {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}

#search input {
    margin-right: 10px;
    border: none;
    background: none;
    outline: none;
    background-color: #ecf0f1;
    padding: 6px 10px;
    width: 300px;
    border-radius: 3px;
}

.user-cabinet-photo img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 0 10px;
}

#header-buttons-container {
    height: 10vh;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    position: relative;
}

#header-buttons-container .in-development,
#search .in-development {
    width: 200px;
    font-size: 16px;
}


#header-buttons-container button:hover {
    background-color: #2c3e50;
}

#header-buttons-container button {
    border: none;
    background: none;
    outline: none;
    color: #ecf0f1;
    height: 10vh;
    padding: 0 20px;
}


main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile-section {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.common-profile-info {
    width: 100%;
    display: flex;
    margin: 90px 0 70px;
    padding-bottom: 50px;
    border-bottom: 2px solid #2c3e50
}

.profile-img-section {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile-img-section img {
    width: 50%;
    border-radius: 10%;
    margin: 5% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}

#profile-text-section {
    width: 60%;
    padding: 1%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#profile-hidden {
    display: none;
}

.profile-user-data {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #34495e;
    padding-bottom: 10px;
}

.skills {
    margin: 40px 0;
    width: 100%;
}

.skills-container {
    margin: 10px 0 40px 0; 
    display: flex;
    flex-wrap: wrap;
}

.skill-element {
    padding: 5px 20px;
    background-color: #34495e;
    color: #fff;
    margin: 10px 30px 0 0;
    border-radius: 15px;
}

.skill-element i {
    margin: 0 0 0 10px;
}

.skill-element i:hover {
    color: #2c3e50;
    cursor: pointer;
}

.skill-creator {
    background-color: #34495e;
    color: #ecf0f1;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2% 1%;
    border-radius: 20px;
}

.skill-form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-form * {
    margin-left: 20px;
}

.more {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 20px;
    width: 10%;
}

.more:hover {
    cursor: pointer;
}

.more i {
    font-size: 30px;
}

.more * {
    margin: 0;
}

.bio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-inputs input{
    margin: 20px 15px;
    width: 300px;
}

.socials-container,
.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socials-container input,
.contacts-container input {
    margin: 10px;
    width: 400px;
}

.profile-photos {
    background-color: #34495e;
    padding: 30px;
    border-radius: 15px;
    color: #ecf0f1;
    margin-top: 30px;
    position: relative;
}

.profile-photo {
    width: 25%;
    height: 25%;
}

.profile-photos-container {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.profile-photos-container img {
    width: 300px;
    height: 300px;
    margin: 0 30px 0 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
}


.in-development {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    color: #2c3e50;
    background-color: red;
    font-size: 50px;
    font-weight: 700;
    border: 3px solid red;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 150px rgb(255, 0, 0);
}

.profile-posts {
    box-sizing: border-box;
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: #34495e;
    color: #ecf0f1;

    display: flex;
    flex-flow: column;
}

.post {
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.466);
    margin-top: 50px;
}

.post:nth-child(1) {
    margin-top: 10px;
}

.post-user {
    display: flex;
}

.post-user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.post-user-preview {
    margin-left: 30px;
}


.post-user-preview p {
    font-size: 25px;
    font-weight: 500;
}

.post-user-skills {
    display: flex;
}

.post-user-skills .skill-element {
    margin-top: 0;
}

.post-text {
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    padding: 20px 0;
    margin: 20px 0;
    font-size: 25px;
}

.post-community {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

#post-view-comments:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-comments {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.comment {
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
    padding: 10px;
    margin-top: 20px;
}

.comment-user {
    display: flex;
    font-size: 22px
}

.comment-user .skill-element {
    font-size: 14px;
}

.comment-user-preview *{
    margin-top: 0;
    margin-bottom: 0;
}

.comment-user-preview  {

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.comment-avatar {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 20px;
}

.comment-text {
    font-size: 18px;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    margin: 15px 0;
    padding: 15px 0;
}

.comment-likes {
    align-self: flex-end;
}

#create-post {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
    padding: 20px;
    border-radius: 15px;
    margin: 50px 0 30px 0;
    display: flex;
    flex-flow: column;

}

#create-post textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0 30px 0;
}

#create-post button {
    align-self: center;
}

.delete-post {
    position: absolute;
    z-index:2;
    right: 1%;
    font-size: 30px;
}

.delete-post:hover,
.delete-comment:hover {
    color: #e74c3c;
    cursor: pointer;
}

.delete-comment {
    position: absolute;
    z-index:2;
    right: 1%;
    font-size: 24px;
}