* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(225deg, rgba(49,224,123,1) 31%, rgb(28, 129, 72) 100%);
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#login-label {
    position: absolute;
    top: 10%;
}

.registration-form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.registration-form h2 {
    font-weight: 600;
    color: #ecf0f1;
    margin-bottom: 20px;
}

.registration-form p {
    color: #ecf0f1;
    margin-top: 20px;
}

.registration-form form {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.424);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 20px 40px;
    justify-content: space-between;
}


.registration-form form input {
    margin: 10px 0;
    width: 300px;
    background: none;
    border: none;
    padding: 5px 10px;
}

.registration-form form input[type="email"],
.registration-form form input[type="password"],
.registration-form form input[type="text"] {
    border-bottom: 2px solid #bdc3c7;
    margin-bottom: 15px;
}

.registration-form form input:focus {
    outline: none;
}

.registration-form form input[type="email"]:focus,
.registration-form form input[type="password"]:focus {
    border-bottom: 2px solid #2ecc71;
    transition: .2s;
}

.registration-form form input[type="submit"] {
    padding: 10px;
    background-color: #2ecc71;
    color: #ecf0f1;
    border-radius: 5px
}

.registration-form form input[type="submit"]:hover {
    background-color: #27a75c;
    transition: .2s;
}

.registration-form input {
    margin: 10px 0;
    width: 300px;
}

.registration-form button {
    margin: 10px 0;
}

.toLogin {
    font-weight: 600;
    color: #ecf0f1;
}