<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d68a2d689.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="registration.css">
    <title>CoSkill</title>
</head>
<body>
    <h1 id="login-label">
        Co-Skill
    </h1>
    <div id="wrapper">
        <section class="registration-form">
            <h2>
                Register
            </h2>
            <input type="text" placeholder="name">
            <input type="text" placeholder="second name">
            <input type="text" placeholder="e-mail">
            <input type="password" placeholder="password">
            <input type="password" placeholder="repeat password">
            <button> Register </button>
            <p>
                Already have an account?
            </p>
            <a>Sign in</a>
        </section>
    </div>
</body>
</html>